@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

html{
    font-family: 'Italiana', sans-serif;
}

body{
    /*background-color: rgb(25, 20, 23);*/
    background: linear-gradient(black, #713abe);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    color: white;
    font-size: 55px;
    position: absolute;
    font-weight: lighter;
    margin-left: 3%;
    margin-top: 1.5%;
}
hr{
    border: 0;
    height: 2px;
    margin-top: 1.8%;
    background-color: rgb(133, 21, 238);
}
.tren{
    text-align:right;
    color: white;
    font-weight: lighter;
    margin-right:2%;
    margin-top: 1.5%;

}

.fsk{
    text-align:right;
    color: white;
    font-weight: lighter;
    margin-right:2%;
    margin-top: 1.5%;

}


.ciao{
    font-size: 36px;
    margin-top: 5%;
    margin-left: 3%;
    

}

.si{
    font-size: 27px;
    margin-top: 14%;
    margin-left: 3%;
    position: fixed;
    color: white;
    font-weight: lighter;
}
img{
    margin-left: 50%;
    margin-top: 5%;
    width:30%;


}
